{% extends "base.html" %}

{% block title %}Minha Conta{% endblock %}

{% block content %}
<div class="container mx-auto py-10 text-left">
    <h1 class="text-3xl font-bold text-gray-500 mb-4">Minha Conta</h1>

    <p class="text-lg text-gray-600">
        Olá, <span class="font-semibold">{{ current_user.username }}</span>! 👋
    </p>

    <a href="{{ url_for('main.logout') }}"
       class="mt-6 inline-block bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">
        Sair
    </a>
</div>
{% endblock %}
