<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/soco-relogio.png') }}">
</head>
<body class="bg-gray-100 dark:bg-gray-900 flex flex-col min-h-screen justify-center items-center text-center">

    <div class="max-w-md bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-6xl font-bold text-yellow-600">403</h1>
        <p class="text-xl text-gray-700 mt-2">Acesso Negado</p>
        <p class="text-gray-600 mt-2">Você não tem permissão para acessar esta página.</p>
        <img src="{{ url_for('static', filename='img/Erros_icons/erro_403.png') }}" alt="Erro 403" class="w-48 mx-auto my-4">
        <a href="{{ url_for('main.home') }}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">
            Voltar para a Página Inicial
        </a>
    </div>

</body>
</html>
